* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open-Sans';
    color: #333333;
}

.body {
    overflow-x: hidden;
}

.container {
    width: 1180px;
    margin: 0 auto;
}
